workflows/cleanup-old-emails.json
{
  "name": "Cleanup Old Unread Emails (Run Once)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nstaticData.totalTrashed = 0;\nstaticData.batchCount = 0;\nreturn [{ json: { start: true } }];\n"
      },
      "id": "init",
      "name": "Init",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "is:unread older_than:2y"
            },
            {
              "name": "maxResults",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "list-emails",
      "name": "List Old Unread",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [640, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst messages = response.messages || [];\n\nif (messages.length === 0) {\n  return [{ json: { done: true, ids: [] } }];\n}\n\nconst ids = messages.map(m => m.id);\nreturn [{ json: { done: false, ids } }];\n"
      },
      "id": "collect-ids",
      "name": "Collect IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.done }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-done",
      "name": "All Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nreturn [{ json: {\n  message: 'Cleanup complete!',\n  totalTrashed: staticData.totalTrashed || 0,\n  batchesRun: staticData.batchCount || 0\n} }];\n"
      },
      "id": "done",
      "name": "Done!",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1260, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages/batchModify",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ids\": {{ JSON.stringify($json.ids) }},\n  \"addLabelIds\": [\"TRASH\"],\n  \"removeLabelIds\": [\"INBOX\", \"UNREAD\"]\n}",
        "options": { "response": { "response": { "neverError": true, "responseFormat": "text" } } }
      },
      "id": "batch-trash",
      "name": "Batch Trash",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1260, 400],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst ids = $('Collect IDs').first().json.ids || [];\nstaticData.totalTrashed = (staticData.totalTrashed || 0) + ids.length;\nstaticData.batchCount = (staticData.batchCount || 0) + 1;\nreturn [{ json: {\n  batch: staticData.batchCount,\n  trashed: ids.length,\n  totalTrashed: staticData.totalTrashed\n} }];\n"
      },
      "id": "batch-done",
      "name": "Batch Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1460, 400]
    },
    {
      "parameters": {
        "jsCode": "await new Promise(resolve => setTimeout(resolve, 1000));\nreturn $input.all();\n"
      },
      "id": "delay",
      "name": "Delay 1s",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1660, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[ { "node": "Init", "type": "main", "index": 0 } ]]
    },
    "Init": {
      "main": [[ { "node": "List Old Unread", "type": "main", "index": 0 } ]]
    },
    "List Old Unread": {
      "main": [[ { "node": "Collect IDs", "type": "main", "index": 0 } ]]
    },
    "Collect IDs": {
      "main": [[ { "node": "All Done?", "type": "main", "index": 0 } ]]
    },
    "All Done?": {
      "main": [
        [ { "node": "Done!", "type": "main", "index": 0 } ],
        [ { "node": "Batch Trash", "type": "main", "index": 0 } ]
      ]
    },
    "Batch Trash": {
      "main": [[ { "node": "Batch Complete", "type": "main", "index": 0 } ]]
    },
    "Batch Complete": {
      "main": [[ { "node": "Delay 1s", "type": "main", "index": 0 } ]]
    },
    "Delay 1s": {
      "main": [[ { "node": "List Old Unread", "type": "main", "index": 0 } ]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "email" }, { "name": "cleanup" }],
  "triggerCount": 0,
  "pinData": {}
}
