workflows/recovery-remove-processed-label.json
{
  "name": "Recovery: Remove Processed Label (Run Once)",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/labels",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "options": {}
      },
      "id": "fetch-labels",
      "name": "Fetch Labels",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [440, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const labelsResponse = $input.first().json;\nconst staticData = $getWorkflowStaticData('global');\n\nconst processedLabel = (labelsResponse.labels || []).find(l => l.name === '_System/Processed');\nif (!processedLabel) throw new Error('_System/Processed label not found');\n\nstaticData.processedLabelId = processedLabel.id;\nstaticData.totalProcessed = 0;\nstaticData.batchCount = 0;\n\nreturn [{ json: { labelId: processedLabel.id } }];\n"
      },
      "id": "find-label",
      "name": "Find Label ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "label:_System/Processed"
            },
            {
              "name": "maxResults",
              "value": "100"
            }
          ]
        },
        "options": {}
      },
      "id": "list-emails",
      "name": "List Processed Emails",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [840, 300],
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst messages = response.messages || [];\nconst staticData = $getWorkflowStaticData('global');\nconst labelId = staticData.processedLabelId;\n\nif (messages.length === 0) {\n  return [{ json: { done: true, ids: [], labelId } }];\n}\n\nconst ids = messages.map(m => m.id);\nreturn [{ json: { done: false, ids, labelId } }];\n"
      },
      "id": "collect-ids",
      "name": "Collect IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.done }}",
              "value2": true
            }
          ]
        }
      },
      "id": "check-done",
      "name": "All Done?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1240, 300]
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nreturn [{ json: {\n  message: 'All _System/Processed labels removed!',\n  totalProcessed: staticData.totalProcessed || 0,\n  batchesRun: staticData.batchCount || 0\n} }];\n"
      },
      "id": "done",
      "name": "Done!",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1460, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages/batchModify",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"ids\": {{ JSON.stringify($json.ids) }},\n  \"removeLabelIds\": [\"{{ $json.labelId }}\"]\n}",
        "options": { "response": { "response": { "neverError": true, "responseFormat": "text" } } }
      },
      "id": "batch-remove",
      "name": "Batch Remove Label",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1460, 400],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "credentials": {
        "gmailOAuth2": {
          "id": "GMAIL_CREDENTIAL_ID",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const staticData = $getWorkflowStaticData('global');\nconst ids = $('Collect IDs').first().json.ids || [];\nstaticData.totalProcessed = (staticData.totalProcessed || 0) + ids.length;\nstaticData.batchCount = (staticData.batchCount || 0) + 1;\nreturn [{ json: {\n  batch: staticData.batchCount,\n  removed: ids.length,\n  totalProcessed: staticData.totalProcessed\n} }];\n"
      },
      "id": "batch-done",
      "name": "Batch Complete",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1660, 400]
    },
    {
      "parameters": {
        "jsCode": "await new Promise(resolve => setTimeout(resolve, 1000));\nreturn $input.all();\n"
      },
      "id": "delay",
      "name": "Delay 1s",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1860, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[ { "node": "Fetch Labels", "type": "main", "index": 0 } ]]
    },
    "Fetch Labels": {
      "main": [[ { "node": "Find Label ID", "type": "main", "index": 0 } ]]
    },
    "Find Label ID": {
      "main": [[ { "node": "List Processed Emails", "type": "main", "index": 0 } ]]
    },
    "List Processed Emails": {
      "main": [[ { "node": "Collect IDs", "type": "main", "index": 0 } ]]
    },
    "Collect IDs": {
      "main": [[ { "node": "All Done?", "type": "main", "index": 0 } ]]
    },
    "All Done?": {
      "main": [
        [ { "node": "Done!", "type": "main", "index": 0 } ],
        [ { "node": "Batch Remove Label", "type": "main", "index": 0 } ]
      ]
    },
    "Batch Remove Label": {
      "main": [[ { "node": "Batch Complete", "type": "main", "index": 0 } ]]
    },
    "Batch Complete": {
      "main": [[ { "node": "Delay 1s", "type": "main", "index": 0 } ]]
    },
    "Delay 1s": {
      "main": [[ { "node": "List Processed Emails", "type": "main", "index": 0 } ]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "email" }, { "name": "recovery" }],
  "triggerCount": 0,
  "pinData": {}
}
